* {
    padding: 0;
    margin: 0;
}
.tab-css {
    padding: 20px;
}
ul {
    position: relative;
}
li {
    float: left;
    width: 19%;
}
label {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px 5px 0 0 ;
}
[class$="menu"] {
    position: absolute;
}