/*CSS reset*/
* {
  padding: 0;
  margin: 0;
}
/*@keyframes、animation用来完成循环动画的设置*/
/*@keyframes设置动画过程*/
/*此处设置的360deg完成一个完整循环 避免跳屏*/
@keyframes slide{
  0% {
    transform: rotateY(0deg);
  }
  16.7% {
    transform: rotateY(-60deg);
  }
  33.3% {
    transform: rotateY(-120deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  66.7% {
    transform: rotateY(-240deg);
  }
  83.3% {
    transform: rotateY(-300deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
/*
让3D图需点击开始 否则一开始就是转动的
animation用来动画完成时间 完成那个动画 循环次数
*/
.start {
  animation-duration: 12s; 
  -moz-animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-name: slide;
  -moz-animation-name: slide;
  -webkit-animation-name: slide;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;   
}
/*此处为过渡动画的设置*/
.start1 {
  transition: transform 2s;
  -webkit-transition: transform 2s;
}
/*#wrap、#box、img完成3D图的构建*/
#wrap {
  margin: auto;
  width: 1000px;
  height: 500px;
  position: relative;
  -webkit-perspective: 1000px;
  background-color: #fff;
}
#box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;  
}
img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 240px;
  height: 200px;
  margin: auto;
  box-shadow: -4px 3px 7px rgba(22, 21, 21, 0.58);
  opacity: 0.7;
}
/*将img图片按Y轴转动并按Z轴垂直平面向外推送同样距离 完成完整的3D效果*/
img:nth-child(1) {
  transform: rotateY(0deg) translateZ(247px);
  -webkit-transform: rotateY(0deg) translateZ(247px);
}
img:nth-child(2) {
  transform: rotateY(60deg) translateZ(247px);
  -webkit-transform: rotateY(60deg) translateZ(247px);
}
img:nth-child(3) {
  transform: rotateY(120deg) translateZ(247px);
  -webkit-transform: rotateY(120deg) translateZ(247px);
}
img:nth-child(4) {
  transform: rotateY(180deg) translateZ(247px);
  -webkit-transform: rotateY(180deg) translateZ(247px);
}
img:nth-child(5) {
  transform: rotateY(240deg) translateZ(247px);
  -webkit-transform: rotateY(240deg) translateZ(247px);
}
img:nth-child(6) {
  transform: rotateY(300deg) translateZ(247px);
  -webkit-transform: rotateY(300deg) translateZ(247px);
}
/*others*/
p {
  font-size: 20px;
  opacity: 0.7;
  margin: 10px 20px;
}