* {
	margin: 0;
	padding: 0;
}
body {
	background: #333;
}
.wrapper {
	position: absolute;
	left: 0;
	right: 0;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-bottom: 50px;
	background: #eee;
}
.small {
	position: absolute;
	left: 0;
	right: 20px;
	height: 50px;
	border: 1px solid #999;
	box-shadow: 1px 1px 1px #999;
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	background: #fff;
}
div[class^="col"] {
	float: left;
	position: relative;
	height: 50px;
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
.col-md-1 {
	width: 8.33%;
}
.col-md-2 {
	width: 16.66%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width:33.3%;	
}
.col-md-6 {
	width: 50%;
}
}
@media screen and (max-width:768px) {
.col-sm-2 {
	width: 16.66%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-8 {
	width: 66.6%;
}
.col-sm-12 {
	width: 100%;
}
}