body {
	padding: 0;
	margin: 0;
	background: #222;
}
.all {
	/*为何这里使用position:absolute,因为先说明width是
	可以直接设置的，而height却不是什么都可以设置的，
	使用百分数设置的height只有absolute和fixed会生效，
	而overflow、float、relative设置的百分数的height都
	不会生效，只会自适应设置height，当然若是确定数值的
	height是所有都可以设置的*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 60%;
	height: 100%;
	/*之所以使用min-width是因为.all的width如果太小的话
	则.rectangle会溢出，加入min-width后，达到400px后在
	缩小浏览器页面则会不在缩小，然后根据块状元素的流体
	特性开始自动在body中居中*/
	min-width: 400px;
	box-shadow: 1px 1px 1px #eee;
	background: #fff;
}
.rectangle {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 400px;
	height: 200px;
	overflow: hidden;
	background: #ccc;
}
.cirular-first {
	/*absolute是相对其最近的父包含块，所以直接以.rectangle块为基准进行判断*/
	position: absolute;
	right: 350px;
	bottom: 150px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid #fc0;
	background: #fc0;
}
.cirular-second {
	position: absolute;
	left: 350px;
	top: 150px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid #fc0;
	background: #fc0;
}