table {
	border-collapse: collapse;
}
td {
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #b8b8b8;
}
tr:first-child td {
	border: none;
}
td:first-child {
	border: none;
}
form {
	margin: 10px 40px;
}
input {
	height: 30px;
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
}
#text {
	width: 160px;
}
#btn {
	width: 50px;
	background: transparent;
}
td[class^="red"] {
	background: #f00;
}
.tran {
	background: transparent;
}